@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background-color: #367fa9;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

input {
  border: 1px solid rgb(231, 228, 228);
  /* background-color: rgba(245, 241, 241, 0.212); */
  border-radius: 3px;
  height: 35px;
  padding: 0 10px;
}
input:focus-visible {
  outline-width: 0;
}

input[type="checkbox"] {
  border-radius: 0;
}

textarea {
  border: 1px solid rgb(231, 228, 228);
  /* background-color: rgba(245, 241, 241, 0.212); */
  border-radius: 3px;
}

strong {
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
